<table class="table table-bordered">
  <tbody>
    <tr>
      <th>Evaluation type</th>
      <td><%= @evaluation.evaluation_template.name %></td>
    </tr>

      <th>Quarter</th>
      <td><%= formatted_quarter(@evaluation.evaluation_template.quarter) %></td>
    </tr>

    <tr>
      <th>Student</th>
      <td><%= display_name(@evaluation.student) %></td>
    </tr>

    <tr>
      <th>Project title</th>
      <td><%= @evaluation.project_name %></td>
    </tr>

    <tr>
      <th>Advisor</th>
      <td><%= display_name(@evaluation.advisor) %></td>
    </tr>

    <%# TODO: simple_format these answers? And their questions in the eval? %>
    <% @evaluation.survey.each do |question, answer| %>
    <tr>
      <th><%= question %></th>
      <td><%= simple_format formatted_answer(answer) %></td>
    </tr>
    <% end %>
  </tbody>
</table>
