<table class="table table-bordered">
  <tbody>
    <tr>
      <th>Student</th>
      <td><%= @evaluation.student_display_name %></td>
    </tr>

    <tr>
      <th>Project title</th>
      <td><%= @evaluation.project_name %></td>
    </tr>

    <tr>
      <th>Advisor</th>
      <td><%= @evaluation.advisor_display_name %></td>
    </tr>

    <% @evaluation.survey.each do |question, answer| %>
    <tr>
      <th><%= question %></th>
      <td><%= answer %></td>
    </tr>
    <% end %>
  </tbody>
</table>
