<table class="table table-bordered">
  <tbody>
    <tr>
      <th>Student e-mail</th>
      <td><%= @evaluation.student_email %></td>
    </tr>

    <tr>
      <th>Project title</th>
      <td><%= @evaluation.project_name %></td>
    </tr>

    <tr>
      <th>Advisor e-mail</th>
      <td><%= @evaluation.advisor_email %></td>
    </tr>

    <% @evaluation.evaluation_answers.each do |answer| %>
      <tr>
	<th><%= answer.evaluation_question.prompt %></th>
	<td><%= answer.response %></td>
      </tr>
    <% end %>
  </tbody>
</table>
