<table class="table table-bordered">
  <tbody>
    <tr>
      <th>Student</th>
      <td><%= display_name(@evaluation.student) %></td>
    </tr>

    <tr>
      <th>Project title</th>
      <td><%= @evaluation.project_name %></td>
    </tr>

    <tr>
      <th>Advisor</th>
      <td><%= display_name(@evaluation.advisor) %></td>
    </tr>

    <% @evaluation.survey.each do |question, answer| %>
    <tr>
      <th><%= question %></th>
      <td><%= formatted_answer(answer) %></td>
    </tr>
    <% end %>
  </tbody>
</table>
