<h1>Evaluation template</h1>
<% if @template.id %>
  <% @template.survey.each do |number, question| %>
    <div>
    <%= number %>. Type: <%= question["question_type"] %> &nbsp;|&nbsp;
      Question: <%= question["question_prompt"] %>
      <% if question["question_options"] %>
	&nbsp;|&nbsp;
	Options:
	<% question["question_options"].each do |index, opt| %>
	  <%= index %>. <%= opt %> &nbsp;&nbsp;
        <% end %>
      <% end %>
    </div>
  <% end %>
<% else %>
  There is no evaluation template. To create one, you may begin adding
  questions below.
<% end %>

<br />

<h2>New question</h2>

<div id="new-eval-question">
<%= bootstrap_form_tag(layout: :horizontal, control_col: "col-xs-2") do |f| %>
  <%= render 'shared/error_messages', object: @template %>

  <%= f.select(:question_type,
	       options_for_select(['Text field', 'Text area',
				   'Check box', 'Radio button'],
				  'Text field')) %>
  <%= f.text_area(:question_prompt) %>

  <div id="radio-button-group">
    <div id="radio-option-group">
      <%= f.text_field('radio_button_options[1]',
		       label: "Radio button option 1")%>
    </div>
    <%= f.form_group do %>
      <%= link_to "Add another option", '#', class: "btn btn-default",
	id: "add-option-button" %>
    <% end %>
  </div>

  <%= f.form_group do %>
    <%= f.submit "Create question", class: "btn btn-primary" %>
  <% end %>
<% end %>
</div>
