<%= render 'shared/error_messages', object: @template %>
<h1>Evaluation template</h1>
<% if @template.id and @template.survey.length > 0 %>
  <%= bootstrap_form_tag(url: { action: 'update_template' }) do |f| %>

    <div class="row" id="edit-eval">
    <% @template.survey.each do |number, question| %>
      <div class="col-md-6">
      <%= number %>. Type: <%= question["question_type"] %> &nbsp;|&nbsp;
	Question: <%= question["question_prompt"] %>
	<% if question["question_type"] == "Radio button" %>
	  &nbsp;|&nbsp;
	  Options:
	  <% question["question_options"].each do |index, opt| %>
	    <%= index %>. <%= opt %> &nbsp;&nbsp;
	  <% end %>
	<% end %>
      </div>
      <div class="col-md-2">
	<%= f.check_box "mandatory[#{number}]",
	checked:
	(@template.survey[number]["question_mandatory"] == "1") ? true : false,
	label: "Mandatory?", inline: true %>
      </div>
      <div class="col-md-1">
	<%= f.label "ordering[#{number}]", "Position" %>
      </div>
      <div class="col-md-1 ordering-select">
	<%= f.select "ordering[#{number}]", @template.survey.keys.sort,
	selected: number, hide_label: true, inline: true %>
      </div>
      <div class="col-md-2">
	<%= f.check_box "delete[#{number}]",
	label: "Remove question?", inline: true %>
      </div>
      <br />
      <br />
    <% end %>
    </div>

    <%= f.form_group do %>
      <%= f.submit "Update template", class: "btn btn-primary" %>
    <% end %>

  <% end %>
<% else %>
  There is no evaluation template. To create one, you may add questions below.
<% end %>

<br />

<h2>New question</h2>

<div id="new-eval-question">
<%= bootstrap_form_tag(layout: :horizontal, control_col: "col-xs-2",
		       url: { action: 'add_to_template'}) do |f| %>

  <%= f.select(:question_type,
	       options_for_select(['Text field', 'Text area',
				   'Check box', 'Radio button'],
				  'Text field')) %>
  <%= f.text_area(:question_prompt) %>

  <%= f.form_group do %>
    <%= f.check_box(:question_mandatory, label: "Mandatory?", checked: true) %>
  <% end %>

  <div id="radio-button-group">
    <div id="radio-option-group">
      <%= f.text_field('radio_button_options[1]',
		       label: "Radio button option 1")%>
    </div>
    <%= f.form_group do %>
      <%= link_to "Add another option", '#', class: "btn btn-default",
	id: "add-option-button" %>
    <% end %>
  </div>

  <%= f.form_group do %>
    <%= f.submit "Create question", class: "btn btn-primary" %>
  <% end %>
<% end %>
</div>
