<h1>New evaluation for <%= "#{@student}" %></h1>

<%= form_for @evaluation, url: { action: :create,
				 controller: :evaluations,
				 student_id: params[:student_id],
				 project_id: params[:project_id] } do |f| %>
  <%= render 'shared/error_messages', object: f.object %>

  <%= f.label :comments %>
  <%= f.text_area :comments %>

  <%= f.submit "Submit evaluation", class: "btn btn-primary" %>
<% end %>
