<h1>New evaluation for <%= @student.email %></h1>

<% if @template.survey.present? %>

  <%= bootstrap_form_tag(url: { action: 'create' }) do |f| %>

    <%= render 'shared/error_messages', object: @evaluation %>
    <table class="table table-bordered evaluation-form">
      <tbody>
	<% @template.survey.each do |number, question| %>
	  <%= render 'new_eval_form',
	    { number: number, question: question, f: f } %>
	<% end %>
      </tbody>
    </table>
    <%= f.submit "Submit evaluation", class: "btn btn-primary",
    data: { confirm: "Are you sure?" } %>

  <% end %>

<% else %>
  There is no evaluation template. One must be created before you can make an
  evaluation.
<% end %>
