<h2><%= formatted_template_title(@template, false) %> Evaluation for <%= display_name(@student) %></h2>

<% if survey_has_questions?(@template) %>

  <%= bootstrap_form_tag(url: { action: 'create' }) do |f| %>

    <%= render 'shared/error_messages', object: @evaluation %>
    <table class="table table-bordered evaluation-form">
      <tbody>
	<% @template.survey.each do |number, question| %>
	  <%= render 'new_eval_form',
	    { number: number, question: question, f: f } %>
	<% end %>
      </tbody>
    </table>
    <%= f.submit "Submit evaluation", class: "btn btn-success",
    data: { confirm: "Are you sure?" } %>

  <% end %>

<% else %>
  An evaluation template with questions must exist before you can create an
  evaluation.
<% end %>
