<h1>Evaluation for <%= @evaluation.student.email %> on project <%= @evaluation.project.name %></h1>

<div>Student email: <%= @evaluation.student.email %></div>
<div>Project name: <%= @evaluation.project.name %></div>
<div>Advisor email: <%= @evaluation.advisor.email %></div>
<div>Evaluation: <%= @evaluation.comments %></div>
