<h1>Edit <%= @quarter.formatted_quarter %></h1>

<%= form_for @quarter do |f| %>
  <%= render 'shared/error_messages', object: f.object %>

  <%= f.label :season %>
  <%= f.select :season, %w(Spring Summer Autumn Winter),
               selected: @quarter.season.capitalize %>

  <%= f.label :year %>
  <%= f.select :year, (Time.now.year - 5..Time.now.year + 5),
               selected: @quarter.year %>

  <%= f.label :start_date %>
  <%= f.datetime_field :start_date,
  value: @quarter.start_date.strftime("%m/%d/%Y %I:%M %p") %>

  <%= f.label :project_proposal_deadline %>
  <%= f.datetime_field :project_proposal_deadline,
  value: @quarter.project_proposal_deadline.strftime("%m/%d/%Y %I:%M %p") %>

  <%= f.label :student_submission_deadline %>
  <%= f.datetime_field :student_submission_deadline,
  value: @quarter.student_submission_deadline.strftime("%m/%d/%Y %I:%M %p") %>

  <%= f.label :advisor_decision_deadline %>
  <%= f.datetime_field :advisor_decision_deadline,
  value: @quarter.advisor_decision_deadline.strftime("%m/%d/%Y %I:%M %p") %>

  <%= f.label :admin_publish_deadline,
      "Admin application publishing deadline (soft, not strict)" %>
  <%= f.datetime_field :admin_publish_deadline,
  value: @quarter.admin_publish_deadline.strftime("%m/%d/%Y %I:%M %p") %>

  <%= f.label :end_date %>
  <%= f.datetime_field :end_date,
  value: @quarter.end_date.strftime("%m/%d/%Y %I:%M %p") %>

  <%= f.label :current, "Current quarter?" %>
  <%= f.check_box :current %>

  <%= f.submit "Update quarter", class: "btn btn-primary" %>
<% end %>
