<h1>Edit <%= @quarter.formatted_quarter %></h1>

<%= form_for @quarter do |f| %>
  <%= render 'shared/error_messages', object: f.object %>

  <%= f.label :season %>
  <%= f.select :season, %w(Spring Summer Autumn Winter),
               selected: @quarter.season.capitalize %>

  <%= f.label :year %>
  <%= f.select :year, (Time.now.year - 5..Time.now.year + 5),
               selected: @quarter.year %>

  <%= f.label :start_date %>
  <%= f.datetime_select :start_date, minute_step: 15 %>

  <%= f.label :project_proposal_deadline %>
  <%= f.datetime_select :project_proposal_deadline, minute_step: 15 %>

  <%= f.label :student_submission_deadline %>
  <%= f.datetime_select :student_submission_deadline, minute_step: 15 %>

  <%= f.label :advisor_decision_deadline %>
  <%= f.datetime_select :advisor_decision_deadline, minute_step: 15 %>

  <%= f.label :admin_publish_deadline,
      "Admin application publishing deadline (soft, not strict)" %>
  <%= f.datetime_select :admin_publish_deadline, minute_step: 15 %>

  <%= f.label :end_date %>
  <%= f.datetime_select :end_date, minute_step: 15 %>

  <%= f.label :current, "Current quarter?" %>
  <%= f.check_box :current %>

  <%= f.submit "Update quarter", class: "btn btn-primary" %>
<% end %>
