<h1>Edit <%= @quarter.formatted_quarter %></h1>

<%= form_for @quarter do |f| %>
  <%= render 'shared/error_messages', object: f.object %>

  <%= f.label :season %>
  <%= f.select :season, %w(Spring Summer Autumn Winter),
               selected: @quarter.season.capitalize %>

  <%= f.label :year %>
  <%= f.select :year, (Time.now.year - 5..Time.now.year + 5),
               selected: @quarter.year %>

  <%= f.label :start_date %>
  <div class="datetimepicker input-append">
    <%= f.text_field :start_date, value: @quarter.start_date, as: :string %>
    <span class="add-on">
      <i data-date-icon="icon-calendar" data-time-icon="icon-time"></i>
    </span>
  </div>

  <%= f.label :project_proposal_deadline %>
  <div class="datetimepicker input-append">
    <%= f.text_field :project_proposal_deadline,
    value: @quarter.project_proposal_deadline, as: :string %>
    <span class="add-on">
      <i data-date-icon="icon-calendar" data-time-icon="icon-time"></i>
    </span>
  </div>

  <%= f.label :student_submission_deadline %>
  <div class="datetimepicker input-append">
    <%= f.text_field :student_submission_deadline,
    value: @quarter.student_submission_deadline, as: :string %>
    <span class="add-on">
      <i data-date-icon="icon-calendar" data-time-icon="icon-time"></i>
    </span>
  </div>

  <%= f.label :advisor_decision_deadline %>
  <div class="datetimepicker input-append">
    <%= f.text_field :advisor_decision_deadline,
    value: @quarter.advisor_decision_deadline, as: :string %>
    <span class="add-on">
      <i data-date-icon="icon-calendar" data-time-icon="icon-time"></i>
    </span>
  </div>


  <%= f.label :admin_publish_deadline,
      "Admin application publishing deadline (soft, not strict)" %>
  <div class="datetimepicker input-append">
    <%= f.text_field :admin_publish_deadline,
    value: @quarter.admin_publish_deadline, as: :string %>
    <span class="add-on">
      <i data-date-icon="icon-calendar" data-time-icon="icon-time"></i>
    </span>
  </div>

  <%= f.label :end_date %>
  <div class="datetimepicker input-append">
    <%= f.text_field :end_date,
    value: @quarter.end_date, as: :string %>
    <span class="add-on">
      <i data-date-icon="icon-calendar" data-time-icon="icon-time"></i>
    </span>
  </div>

  <%= f.label :current, "Current quarter?" %>
  <%= f.check_box :current %>

  <%= f.submit "Update quarter", class: "btn btn-primary" %>
<% end %>
