<h3>Create a new quarter</h3>
<!-- Not DRY. -->
<%= form_for @quarter do |f| %>
  <%= render 'shared/error_messages', object: f.object %>

  <%= f.select :season, %w(Spring Summer Autumn Winter),
               selected: default_season %>
  <%= f.label :season, class: 'inline' %>
  <br />

  <%= f.select :year, (Time.now.year - 5..Time.now.year + 5),
               selected: Time.now.year %>
  <%= f.label :year, class: 'inline' %>
  <br />


  <div class="datetimepicker input-append">
    <%= f.text_field :start_date,
    placeholder: l(start_date, format: :twb), as: :string %>
    <span class="add-on">
      <i data-date-icon="icon-calendar" data-time-icon="icon-time"></i>
    </span>
  </div>
  <%#= f.label :start_date, wrapper: :append # Needed? %>
  <%= f.label :start_date, class: 'inline' %>
  <br />

  <div class="datetimepicker input-append">
    <%= f.text_field :project_proposal_deadline,
    placeholder: l(default_deadline("proposal"), format: :twb), as: :string %>
    <span class="add-on">
      <i data-date-icon="icon-calendar" data-time-icon="icon-time"></i>
    </span>
  </div>
  <%= f.label :project_proposal_deadline, class: 'inline' %>
  <br />

  <div class="datetimepicker input-append">
    <%= f.text_field :student_submission_deadline,
    placeholder: l(default_deadline("submission"), format: :twb),
      as: :string %>
    <span class="add-on">
      <i data-date-icon="icon-calendar" data-time-icon="icon-time"></i>
    </span>
  </div>
  <%= f.label :student_submission_deadline, class: 'inline' %>
  <br />

  <div class="datetimepicker input-append">
    <%= f.text_field :advisor_decision_deadline,
    placeholder: l(default_deadline("decision"), format: :twb), as: :string %>
    <span class="add-on">
      <i data-date-icon="icon-calendar" data-time-icon="icon-time"></i>
    </span>
  </div>
  <%= f.label :advisor_decision_deadline, class: 'inline' %>
  <br />

  <div class="datetimepicker input-append">
    <%= f.text_field :admin_publish_deadline,
    placeholder: l(default_deadline("admin"), format: :twb), as: :string %>
    <span class="add-on">
      <i data-date-icon="icon-calendar" data-time-icon="icon-time"></i>
    </span>
  </div>
  <%= f.label :admin_publish_deadline,
      "Admin application publishing deadline (soft, not strict)",
      class: 'inline' %>
  <br />

  <div class="datetimepicker input-append">
    <%= f.text_field :end_date,
    placeholder: l(end_date, format: :twb), as: :string %>
    <span class="add-on">
      <i data-date-icon="icon-calendar" data-time-icon="icon-time"></i>
    </span>
  </div>
  <%= f.label :end_date, class: 'inline' %>
  <br />

  <%= f.check_box :current %>
  <%= f.label :current, "Make this the current quarter?", class: 'inline' %>
  <br />

  <%= f.submit "Create quarter", class: "btn btn-primary" %>
<% end %>
