<h3>Create a new quarter</h3>

<%= form_for @quarter do |f| %>
  <%= render 'shared/error_messages', object: f.object %>

  <%= f.label :season %>
  <%= f.text_field :season %>

  <%= f.label :year %>
  <%= f.text_field :year %>

  <%= f.label :current, "Make this the current quarter?" %>
  <%= f.check_box :current %>

  <%= f.submit "Create quarter",
  class: "btn btn-primary" %>
<% end %>
