<h3>Create a new quarter</h3>

<%= form_for @quarter do |f| %>
  <%= render 'shared/error_messages', object: f.object %>

  <%= f.label :season %>
  <%= f.select :season, %w(Spring Summer Autumn Winter) %>

  <%= f.label :year %>
  <%= f.select :year, (Time.now.year - 5..Time.now.year + 5),
                      selected: Time.now.year %>

  <%= f.label :current, "Make this the current quarter?" %>
  <%= f.check_box :current %>

  <%= f.submit "Create quarter",
  class: "btn btn-primary" %>
<% end %>
