<h2>Sign up</h2>

<%= bootstrap_form_for(resource, as: resource_name,
		       url: :new_user,
		       layout: :horizontal, control_col: "col-xs-2") do |f| %>
  <%= devise_error_messages! %>

  <div>
    <%= f.email_field :email, autofocus: true %></div>

  <div>
    <%= f.password_field :password, autocomplete: "off" %></div>

  <div>
    <%= f.password_field :password_confirmation, autocomplete: "off" %></div>

  <div>
    <%= f.form_group do %>
      <%= f.submit "Sign up", class: "btn btn-success" %>
    <% end %>
  </div>
<% end %>
