<h2>Sign up</h2>

<div class="alert alert-info">
  <p>
    <strong>Note:</strong> Creating an account is only necessary if you do not
    have a CNetID. If you do have a CNetID, you may sign in
    <%= link_to "here", :new_user_session, class: "alert-link" %>.
  </p>
</div>

<br />
<%= bootstrap_form_for(resource, as: resource_name,
		       url: :new_user,
		       layout: :horizontal, control_col: "col-xs-2") do |f| %>
  <%#= devise_error_messages! %>

  <div><%= f.email_field :email, autofocus: true %></div>

  <div><%= f.text_field :first_name %></div>

  <div><%= f.text_field :last_name %></div>

  <div><%= f.text_field :affiliation %></div>

  <div><%= f.text_field :department %></div>

  <div><%= f.password_field :password, autocomplete: "off" %></div>

  <div><%= f.password_field :password_confirmation, autocomplete: "off" %></div>

  <div>
    <%= f.form_group do %>
      <%= f.submit "Sign up", class: "btn btn-success" %>
    <% end %>
  </div>
<% end %>
