<p>Hi <%= @admin.first_name || @admin.cnet %>,</p>

<p>An advisor has submitted an evaluation for a student.</p>

<p>Advisor: <%= display_name(@advisor) || @advisor.cnet || @advisor.email %></p>
<p>Project: <%= @project.name %></p>
<p>Student: <%= display_name(@student) || @student.cnet || @advisor.email %></p>

<p>
  Click <%= link_to "here",
            evaluation_url(@evaluation, year: @project.quarter.year,
			   season: @project.quarter.season) %>
  to view this evaluation.
</p>
