<tr>
  <td><%= display_name(student) %></td>
  <td><%= student.cnet %></td>
  <td><%= student.email %></td>
  <td><%= submission.project.name %></td>
  <td>
    Click <%= q_link_to "here", submission %> to view this student's application.
  </td>
</tr>
