<tr class="<%= advisor_submission_row_class(submission) %>">
  <td><%= q_link_to submission.project_name, submission.project %></td>
  <% if can? :manage, @user %>
    <td><%= submission.created_at.to_date %></td>
  <% end %>
  <td><%= formatted_status_for_student(submission) %></td>
  <td>
    <% if submission.status != "draft" %>
      Click <%= q_link_to "here", submission %> to view your application.
    <% elsif submission.status == "draft" %>
      Click <%= q_link_to "here", submission, :edit_submission %> to edit your
      application.
    <% end %>
  </td>
</tr>
