<tr class="<%= advisor_submission_row_class(submission) %>">
  <td><%= link_to submission.project_name, submission.project %></td>
  <td><%= submission.created_at.to_date %></td>
  <td><%= formatted_status_for_student(submission) %></td>
  <td>
    Click <%= link_to "here", submission_path(submission.id) %>
    to view your application.
  </td>
</tr>
