<h2>Users</h2>
<%# We probably want to paginate this and add a search bar. %>

<br />

<p>Filter:
  <%= link_to "All users", action: :index %> |
  <%= link_to "Users awaiting approval", action: :index, approved: "false" %>
</p>

<% if @users.count > 0 %>

  <%#= bootstrap_form_tag path: :users_path, layout: :horizontal,
    control_col: "col-sm-3", label_col: "no-column" [do |f| %>

  <!--     <p>     -->
  <%#= f.text_field :search, hide_label: true %>
  <%#= f.submit "Search" %>
  <!--     </p>     -->

  <%# end %>

  <%= paginate @users %>

  <br />

  <table class="table table-bordered">
    <tr>
      <th>CNetID</th>
      <th>E-mail address</th>
      <th>Full name</th>
      <th>Roles</th>
    </tr>
    <tbody>
      <% @users.each do |user| %>
	<tr>
	  <td><%= user.cnet %></td>
	  <td><%= user.email %></td>
	  <td><%= link_to display_name(user), user %></td>
	  <td><%= formatted_roles(user) %></td>
	</tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <p>No users found.</p>
<% end %>
