<h1><%= @user.email %></h1>

This is your personal page for you to view your applications / projects.

<% if @user.advisor? or @user.admin? %>

  <h2>Pending project proposals</h2>
  <% @user.pending_projects.each do |project| %>
    <div>
      <%= render partial: 'pending_project', locals: { project: project } %>
    </div>
  <% end %>

  <br><br>

  <h2>Approved projects</h2>
  <% @user.accepted_projects.each do |project| %>
    <div>
      <%= render partial: 'accepted_project', locals: { project: project } %>
    </div>
  <% end %>

<% end %>

<% if @user.student? or @user.admin? %>

  <h2>Submitted applications</h2>
  <% if @user.submissions.count > 0 %>
    <% @user.submissions.each do |submission| %>
      <div>
	<%= render partial: 'submission', locals: { submission: submission } %>
      </div>
    <% end %>
  <% else %>
    You have not applied to any projects yet.
  <% end %>

  <h2>Accepted applications</h2>
  <% @user.submissions.each do |submission| %>
    <div>
      You application for <%= submission.project_name %> has been accepted.
    </div>
  <% end %>

<% end %>

<% if can? :update_affiliation_of, current_user %>
  <h3>Change your affiliation and department</h3>
  This will show up on your project proposals and postings.
  <%= form_for @user do |f| %>
    <%= render 'shared/error_messages', object: f.object %>

    <%= f.label :affiliation %>
    <%= f.text_field :affiliation %>

    <%= f.label :department, "Department, institution, etc." %>
    <%= f.text_field :department %>

    <%= f.submit "Update your information",
        class: "btn btn-large btn-primary" %>

    <% end %>
<% end %>

<% if current_user.admin? %>
  <h3>Change user roles</h3>
  <%= form_for @user do |f| %>
    <%= render 'shared/error_messages', object: f.object %>

    <%= f.label :student %>
    <%= f.check_box :student %>

    <%= f.label :advisor %>
    <%= f.check_box :advisor %>

    <%= f.label :admin %>
    <%= f.check_box :admin %>

    <%= f.submit "Change this user's roles",
        class: "btn btn-primary" %>
  <% end %>
<% end %>
