<h1><%= @user.email %></h1>

This is your personal page for you to view your applications / projects.
<!-- @user is the user the page is displaying -->
<!-- current_user is the user browsing the form -->
<% if @user.advisor? or @user.admin? %>

  <h2>Pending project proposals</h2>
  <% @user.pending_projects.each do |project| %>
    <div>
      You proposed <%= link_to project.name, project %> with a deadline 
      of <%= project.deadline %>. It is currently <%= project.status %>. 
      You may edit your proposal 
      <%= link_to "here", edit_project_path(project.id) %>.
    </div>
  <% end %>
  
  <br><br>
  
  <h2>Approved projects</h2>
  <% @user.accepted_projects.each do |project| %>
    <div>
      You proposed <%= link_to project.name, project %> with a deadline 
      of <%= project.deadline %>. It is currently <%= project.status %>. 
      You may no longer edit your proposal. You may view students' 
      applications to this project 
      <%= link_to "here", project_submissions_path(project.id) %>.
    </div>
  <% end %>

  <!-- If there are any rejected projects to show, then show them here -->

<% end %>

<% if (@user.student? or @user.admin?) %>
  
  <h2>Submitted applications</h2>
  <% if @user.submissions.count > 0 %>
    <% @user.submissions.each do |submission| %>
      <div>
	You submitted an application for <%= submission.project_name %>
	on <%= submission.created_at.to_date %>. Click
	<%= link_to "here", project_submission_path(submission.project_id, submission.id) %>
	to view your application and its status.
      </div>
    <% end %>
  <% else %>
    You have not applied to any projects yet.
  <% end %>
  
  <h2>Accepted applications</h2>
  <% @user.submissions.each do |submission| %>
    <div>
      <!-- ... -->
    </div>
  <% end %>
  
<% end %>

<% if (current_user.advisor? and @user == current_user) or (current_user.admin?) %>
  <h3>Change your affiliation and department</h3>
  This will show up on your project proposals and postings.
  
  <%= form_for(@user) do |f| %>
    <%= render 'shared/error_messages', object: f.object %>

    <%= f.label :affiliation %>
    <%= f.text_field :affiliation %>

    <%= f.label :department, "Department, institution, etc." %>
    <%= f.text_field :department %>

    <%= f.submit "Update your information",
        class: "btn btn-large btn-primary" %>

    <% end %>
<% end %>

<% if current_user.admin? %>
  <h3>Change user roles</h3>
  <%= form_for(@user) do |f| %>
    <%= render 'shared/error_messages', object: f.object %>

    <%= f.label :student %>
    <%= f.check_box :student %>

    <%= f.label :advisor %>
    <%= f.check_box :advisor %>

    <%= f.label :admin %>
    <%= f.check_box :admin %>

    <%= f.submit "Change this user's roles",
        class: "btn btn-large btn-primary" %>
  <% end %>
<% end %>
