<h1><%= @user.email %></h1>

This is your personal page for you to view your applications / projects.

<% if @user.advisor? or @user.admin? %>

  <h2>Pending project proposals</h2>
  <% @user.unapproved_projects.each do |project| %>
    <div>
      You proposed <%= link_to project.name, project %> with a deadline 
      of <%= project.deadline %>. It is currently <%= project.status %>. 
      You may edit your proposal 
      <%= link_to "here", edit_project_path(project.id) %>.
    </div>
  <% end %>
  
  <br><br>
  
  <h2>Approved projects</h2>
  <% @user.approved_projects.each do |project| %>
    <div>
      You proposed <%= link_to project.name, project %> with a deadline 
      of <%= project.deadline %>. It is currently <%= project.status %>. 
      You may no longer edit your proposal. You may view students' 
      applications to this project 
      <%= link_to "here", project_submissions_path(project.id) %>.
    </div>
  <% end %>

<% end %>

<% if (@user.student? or @user.admin?) %>
  
  <h2>Submitted applications</h2>
  <% if @user.submissions.count > 0 %>
    <% @user.submissions.each do |submission| %>
      <div>
	You submitted an application for <%= submission.project_name %>
	on <%= submission.created_at.to_date %>. Click
	<%= link_to "here", project_submission_path(submission.project_id, submission.id) %>
	to view your application and its status.
      </div>
    <% end %>
  <% else %>
    You have not applied to any projects yet.
  <% end %>
  
  <h2>Accepted applications</h2>
  <% @user.submissions.each do |submission| %>
    <div>
      <!-- ... -->
    </div>
  <% end %>
  
<% end %>
