<p>
  <%= display_name(submission.student) %> applied to
  <%= submission.project_name %> on
  <%= submission.created_at %>. Click
  <%= link_to "here", submission_path(submission.id) %>
  to read this student's application.
  <br />
  Status: <%= submission.status %>
</p>
