<tr>
  <td><%= submission.student_email %></td>
  <td><%= submission.project_name %></td>
  <td><%= submission.created_at.to_date %></td>
  <td><%= submission.status %></td>
  <td>
    Click <%= link_to "here", submission_path(submission.id) %>
    to read this student's application.
  </td>
</tr>
