<h1><%= formatted_current_quarter %> applications</h1>

<div class="alert alert-info">
  <strong>Suggested decision publishing deadline</strong>:
  <%= formatted_deadline("admin_publish") %>
</div>

<% if @current_submissions.count > 0 %>
  <table class="table table-bordered">
    <tr>
      <th>Student e-mail</th>
      <th>Project title</th>
      <th>Date applied</th>
      <th>Advisor's decision</th>
      <th>Decision approved?</th>
      <th>Decision published?</th>
      <th>Notes</th>
    </tr>
    <tbody>
      <% @current_submissions.each do |submission| %>
	<%= render 'submission_short', submission: submission %>
      <% end %>
    </tbody>
  </table>

  <div>
    Click <%= link_to "here", approve_all_statuses_path, method: :patch,
    data: { confirm: "Are you sure?" } %>
    to approve every advisor's decision.
  </div>
  <div>
    Click <%= link_to "here", publish_all_statuses_path, method: :patch,
    data: { confirm: "Are you sure?" } %>
    to allow all students to see their application decisions.
  </div>

<% else %>
  There are no applications for this quarter.
<% end %>
<div>
  View previous quarters' applications <%= link_to "here", '#' %>.
</div>
