<table class="table table-bordered">

  <tbody>
    <tr>
      <th>Applicant</th>
      <td><%= display_name(@submission.student) %></td>
    </tr>

    <tr>
      <th>Project</th>
      <td><%= @submission.project_name %></td>
    </tr>

    <tr>
      <th>Advisor</th>
      <td><%= display_name(@submission.project.advisor) %></td>
    </tr>

    <tr>
      <th>Status</th>
      <td>
	<% if can? :update_status_of, @submission %>
	  <%= render 'update_submission_status', objects: @submission %>
	<% else %>
	  <%= formatted_status(@submission) %>
	<% end %>
      </td>
    </tr>

    <tr>
      <th>Interests</th>
      <td><%= @submission.information %></td>
    </tr>

    <tr>
      <th>Qualifications</th>
      <td><%= @submission.qualifications %></td>
    </tr>

    <tr>
      <th>Courses</th>
      <td><%= @submission.courses %></td>
    </tr>

    <tr>
      <th>Resume</th>
      <td>
	<% if can? :download_resume, @submission %>
	  <%= link_to "download",
	  download_resume_path(id: @submission.id) %>
	<% else %>
	  This student did not upload a resume.
	<% end %>
      </td>
    </tr>
  </tbody>

</table>
