<table class="table table-bordered submission-form-show">

  <tbody>
    <tr>
      <th>Applicant</th>
      <td><%= display_name(@submission.student) %></td>
    </tr>

    <tr>
      <th>Project</th>
      <td><%= @submission.project_name %></td>
    </tr>

    <tr>
      <th>Advisor</th>
      <td class="no-word-break">
	<%= display_name(@submission.project.advisor) %>
      </td>
    </tr>

    <% if can? :accept_or_reject, @submission %>
      <th>Date created</th>
      <td><%= @submission.created_at.to_date %></td>
    <% end %>

    <tr id="status">
      <th>Status</th>
      <td><%= formatted_status(@submission) %></td>
    </tr>

    <tr id="interests">
      <th>Interests</th>
      <td><%= @submission.information %></td>
    </tr>

    <tr id="qualifications">
      <th>Qualifications</th>
      <td><%= @submission.qualifications %></td>
    </tr>

    <tr id="courses">
      <th>Courses</th>
      <td><%= @submission.courses %></td>
    </tr>

    <tr>
      <th>Resume</th>
      <td>
	<% if (can? :download_resume, @submission) and
	  @submission.resume.exists? %>
	  <%= formatted_resume_info(@submission) %>
	<% else %>
	  This student did not upload a resume.
	<% end %>
      </td>
    </tr>

    <% if @submission.comments.present? or !@submission.pending? %>
      <tr>
	<th>Advisor feedback</th>
	<td><%= advisor_feedback(@submission) %></td>
      </tr>
    <% end %>

  </tbody>
</table>
