<tr class="<%= row_class(submission.status) %>">
  <td><%= display_name(submission.student) %></td>
  <td><%= submission.created_at.to_date %></td>
  <td><%= formatted_status_for_advisor(submission) %></td>
  <td>
    Click <%= link_to "here", submission_path(submission.id) %>
    to view this application.
  </td>
</tr>
