<h1>Applications to <%= @project.name %></h1>

<% if can? :read_all, Submission %>
  <ol>
    <% @project.submissions.each do |submission| %>
      <div>
	<li>
	  <%= submission.information %> | submitted by 
	  <%= submission.student_email %> to project 
	  <%= submission.project_id %>, which is entitled 
	  "<%= submission.project_name %>" | status:
	  <%= submission.status %>
	</li>
	<%= link_to "View this application.", project_submission_path(@project.id, submission.id) %>
      </div>
    <% end %>
  </ol>
<% end %>

