<h1>Apply to <%= @project.name %></h1>

<%= form_for [@project, @submission], html: { multipart: true } do |f| %>
      <%= render 'shared/error_messages', object: f.object %>

      <%= f.label :information, "Interests: explain, in 1-2 paragraphs, why you are interested in working on this project (:interest)." %>
      <%= f.text_area :information %>

      <%= f.label :qualifications, "Qualifications: explain, in 1-2 paragraphs, why you feel you are qualified to work on this project." %>
      <%= f.text_area :qualifications %>

      <%= f.label :courses, "Courses: list the MPCS courses you have taken so far, and the courses you are currently enrolled in." %>
      <%= f.text_area :courses %>

      <%= f.label :resume, "Resume (optional)" %>
      <%= f.file_field :resume %>

      <%= f.label :password_confirmation, "Password confirmation" %>
      <%= f.password_field :password_confirmation %>

      <%= f.submit "Submit my application", class: "btn btn-large btn-primary" %>

<% end %>
