<h1>Apply to <%= @project.name %></h1>

<%= form_for [@project, @submission], html: { multipart: true } do |f| %>
  <%= render 'shared/error_messages', object: f.object %>

  <table>
    <tbody>

      <tr>
	<th>
	  <%= f.label :information, "Interests: explain, in 1-2 paragraphs, why you are interested in working on this project (:interest)." %>
	</th>
	<td>
	  <%= f.text_area :information %>
	</td>
      </tr>

      <tr>

	<th>
	  <%= f.label :qualifications, "Qualifications: explain, in 1-2 paragraphs, why you feel you are qualified to work on this project." %>
	</th>
	<td>
	  <%= f.text_area :qualifications %>
	</td>
      </tr>

      <tr>
	<th>
	  <%= f.label :courses, "Courses: list the MPCS courses you have taken so far, and the courses you are currently enrolled in." %>
	</th>
	<td>
	  <%= f.text_area :courses %>
	</td>
      </tr>

      <tr>
	<th>
	  <%= f.label :resume, "Resume (optional)" %>
	</th>
	<td>
	  <%= f.file_field :resume %>
	</td>
      </tr>

    </tbody>
  </table>

  <%= f.submit "Submit my application", class: "btn btn-primary" %>

<% end %>
