<h1>Application from <%= @submission.student_email %></h1>

<div>
  <%= render 'submission_show', object: @submission %>

  <% if can? :accept, @submission %>
    <%= render 'submission_accept_reject', object: @submission %>
  <% end %>

  <% if (can? :create_evaluation_for, @submission) and \
    @submission.status_sufficient? %>
    <%= render 'submission_create_evaluation', object: @submission %>
  <%# else %>
    <!-- You cannot create an evaluation for this student. -->
  <% end %>
</div>

<% if can? :update_status_of, @submission %>
  <div>
    Advisor's decision: <%= @submission.status.capitalize %>
  </div>
  <%= render 'update_submission_status', objects: @submission %>
<% end %>
