<h1>
  Application from <%= display_name(@submission.student) %> for
  <%= @submission.project_name %>
</h1>

<div>
  <%= render 'submission_show', object: @submission %>

  <% if can? :accept, @submission %>
    <%= render 'submission_accept_reject', object: @submission %>
  <% end %>

  <% if (can? :create_evaluation_for, @submission) and
    @submission_status_sufficient %>
    <%= render 'submission_create_evaluation', object: @submission %>
  <%# else %>
    <!-- You cannot create an evaluation for this student. -->
  <% end %>
</div>
