<h2>
  <%= display_name(@submission.student) %>'s Application
  <%= "(draft)" if @submission.draft? %> to <%= @submission.project_name %>
</h2>

<div>
  <%= render 'submission_show', object: @submission %>

  <% if can? :accept, @submission %>
    <%= render 'submission_accept_reject', object: @submission %>
  <% end %>

  <% if can? :update_status_of, @submission %>
    <%= render 'submission_change_decision_status', object: @submission %>
  <% end %>

  <%# We check !@submission.evaluation here and in ability.rb so that %>
  <%# admins don't see this link. %>

  <%# TODO: We need another condition on here to check which evaluation we can
  make. It will always be the active evaluation, but how will it be decided
  whether we can create it at any given time? %>

  <% if can? :create_evaluation_for, @submission %>
    <%= render 'submission_create_evaluation', object: @submission %>
  <% end %>

  <% if can? :read_evaluations_for, @submission %>
    <%= render 'evaluation_list', object: @submission %>
  <% end %>

</div>

<% if @submission.draft? and (can? :edit, @submission) %>
  <p>
    Click <%= link_to "here", q_path(@submission, :edit_submission) %> to
    continue editing and / or submit this application.
  </p>
<% end %>
