<h1>Application from <%= @submission.student_email %></h1>

<div>
  Applicant: <%= @submission.student_email %>
  Information: <%= @submission.information %>
  <% if (current_user.advisor?) && (current_user.made_project?(@project)) %>
    
    <% if !@submission.accepted? %>
      You may 
      <%= link_to "accept", accept_project_submission_path(@project.id, @submission.id) %> or 
      <%= link_to "reject", reject_project_submission_path(@project.id, @submission.id) %> 
      this application.
    <% else %>
      You have already accepted this applicant.
    <% end %>
    
  <% end %>
</div>
