<h2>
  <%= display_name(@submission.student) %>'s Application
  <%= "(draft)" if @submission.draft? %> to <%= @submission.project_name %>
</h2>

<div>
  <%= render 'submission_show', object: @submission %>

  <% if can? :accept, @submission %>
    <%= render 'submission_accept_reject', object: @submission %>
  <% end %>

  <% if can? :update_status_of, @submission %>
    <%= render 'submission_change_decision_status', object: @submission %>
  <% end %>

  <%# We check !@submission.evaluation here and in ability.rb so that %>
  <%# admins don't see this link. %>
  <% if (can? :create_evaluation_for, @submission) and
    @submission.status_sufficient? and !@submission.evaluation %>
    <%= render 'submission_create_evaluation', object: @submission %>
  <%# else %>
    <!-- You cannot create an evaluation for this student. -->
  <% elsif @submission.evaluation and (can? :read, @submission.evaluation) %>
    <p>
      Click <%= link_to "here", evaluation_path(@submission.evaluation) %>
      to view this student's evaluation.
    </p>
  <% end %>
</div>

<% if @submission.draft? and (can? :edit, @submission) %>
  <p>
    Click <%= link_to "here", edit_submission_path(@submission) %> to continue
    editing and / or submit this application.
  </p>
<% end %>
