<% if @project.has_submissions? %>
  <div class="alert alert-warning" role="alert">
    <strong>Note:</strong> Students have applied to this project. If you
    change this project's status, you may wish to tell these students
    that you have done so.
  </div>
<% end %>

<%= bootstrap_form_for(@project,
	     url: { controller: "projects", action: "update_status" },
	     label_col: "col-xs-1", control_col: "col-lg-4") do |f| %>
  <%= render 'shared/error_messages', object: f.object %>

<% unless @project.status_published? %>
  <%= f.text_area :comments, label: "Comments (optional)",
      class: "submission-comments-box" %>

  <div class="row">
    <div class="col-md-12">
      <% unless @project.accepted? %>
	<%= f.submit "Accept", class: "btn btn-success",
	    data: { confirm: "Are you sure?" } %>
	<% end %>

      <%= f.submit "Request changes", class: "btn btn-primary",
	  data: { confirm: "Are you sure?" } %>

      <% unless @project.rejected? %>
	<%= f.submit "Reject", class: "btn btn-danger",
	    data: { confirm: "Are you sure?" }  %>
      <% end %>
    </div>
  </div>
<% end %>

<br />
<div class="row">
  <div class="col-md-3">
    <% if @project.accepted? %>
      <% if @project.status_published %>
	<%= f.submit "Unpublish decision", class: "btn btn-warning",
	  data: { confirm: "Are you sure?" } %>
      <% else %>
	<%= f.submit "Publish decision", class: "btn btn-success",
	  data: { confirm: "Are you sure?" } %>
      <% end %>
    <% end %>
  </div>
</div>
<br />

<% end %>
