<% if @project.has_submissions? %>
  <div class="alert alert-warning" role="alert">
    <strong>Note:</strong> Students have applied to this project. If you
    change this project's status, you may wish to tell these students
    that you have done so.
  </div>
<% end %>

<%= bootstrap_form_for(@project,
	     url: { controller: "projects", action: "update_status" },
	     layout: :horizontal, label_col: "col-xs-1",
	     control_col: "col-lg-4") do |f| %>
  <%= render 'shared/error_messages', object: f.object %>

  <%= f.form_group do %>
    <%= f.radio_button :status, "accepted", label: "Approve" %>
  <% end %>

  <%= f.form_group do %>
    <%= f.radio_button :status, "pending", label: "Request changes (Pending)" %>
  <% end %>

  <%= f.form_group do %>
    <%= f.radio_button :status, "rejected", label: "Reject" %>
  <% end %>

  <%= f.text_area :comments %>

  <%= f.form_group do %>
    <%= f.check_box :status_published,
	checked: @project_status_published, label: "Publish status?" %>
  <% end %>

  <%= f.form_group do %>
    <%= f.submit "Update project status", class: "btn btn-primary",
	data: { confirm: "Are you sure?" } %>
  <% end %>

<% end %>
