<table class="table table-bordered">
  <tbody>
    <tr>
      <th>Project name</th>
      <td><%= @project.name %></td>
    </tr>

    <tr>
      <th>Quarter</th>
      <td><%= @project.formatted_quarter %></td>
    </tr>

    <% if can? :read_status_of, @project %>
    <tr>
      <th>Status</th>
      <td>
	<% if can? :manage, @project %>
	  <%= render 'edit_status', object: @project %>
        <% else %>
	  <%= formatted_project_status(@project) %>
	<% end %>
      </td>
    </tr>
      <% if @project.submittable_to? %>
	<tr>
	  <th>Applicants</th>
	  <td>
	    <%= @project.submissions.count %>
	    <% if @project.has_submissions? %>
	      (click <%= link_to "here",
	      project_submissions_path(@project.id) %>
	      to view students' applications to this project)
            <% end %>
	  </td>
	</tr>
      <% end %>
    <% end %>

    <tr>
      <th>Advisor</th>
      <td><%= @project.advisor_formatted_info %></td>
    </tr>

    <tr>
      <th>Description</th>
      <td><%= @project.description %></td>
    </tr>

    <tr>
      <th>Expected deliverables</th>
      <td><%= @project.expected_deliverables %></td>
    </tr>

    <tr>
      <th>Prerequisites</th>
      <td><%= @project.prerequisites %></td>
    </tr>

    <tr>
      <th>Related work</th>
      <td><%= @project.formatted_related_work %></td>
    </tr>

    <!--
    <tr>
      <th>Application deadline</th>
      <td><%= @project.quarter.formatted_submission_deadline %></td>
    </tr>
    -->
  </tbody>
</table>
