<table class="table table-bordered project-form-show">
  <tbody>
    <tr>
      <th>Title</th>
      <td><%= @project.name %></td>
    </tr>

    <tr>
      <th>Quarter</th>
      <td><%= formatted_quarter(@project.quarter) %></td>
    </tr>

    <% if can? :manage, @project %>
      <tr>
	<th>Date created</th>
	<td><%= @project.created_at.to_date %></td>
      </tr>
    <% end %>

    <% if can? :read_status_of, @project %>
      <tr>
	<th>Status</th>
	<td id="edit-project-status" class="no-word-break">
	  <%= formatted_project_status(@project) %>
	</td>
      </tr>

      <% if can? :clone, @project %>
	<tr>
	  <th>Cloned</th>
	  <td>
	    <%= render 'project_clone', object: @project %>
	  </td>
	</tr>
      <% end %>

      <% if @project.submittable_to? %>
	<tr>
	  <th>Applicants</th>
	  <td>
	    <%= @project.submitted_submissions.count %>
	    <% if @project.has_submissions? %>
	      (click <%= link_to "here",
	      project_submissions_path(@project.id) %>
	      to view students' applications to this project)
	    <% end %>
	  </td>
	</tr>
      <% end %>
    <% end %>

    <tr>
      <th>Advisor</th>
      <td><%= formatted_info(@project.advisor) %></td>
    </tr>

    <tr>
      <th>Description</th>
      <td><%= simple_format(@project.description) %></td>
    </tr>

    <tr>
      <th>Expected deliverables</th>
      <td><%= simple_format(@project.expected_deliverables) %></td>
    </tr>

    <tr>
      <th>Prerequisites</th>
      <td><%= simple_format(@project.prerequisites) %></td>
    </tr>

    <tr>
      <th>Related work</th>
      <td><%= simple_format(formatted_related_work(@project)) %></td>
    </tr>

  </tbody>
</table>
