<table class="table table-bordered">
  <tbody>
    <tr>
      <th>Project name</th>
      <td><%= @project.name %></td>
    </tr>

    <tr>
      <th>Quarter</th>
      <td><%= @project.formatted_quarter %></td>
    </tr>

    <% if can? :read_status_of, @project %>
    <tr>
      <th>Status</th>
      <td><%= formatted_project_status(@project) %></td>
    </tr>
    <% end %>

    <tr>
      <th>Advisor</th>
      <td><%= @project.advisor_formatted_info %></td>
    </tr>

    <tr>
      <th>Description</th>
      <td><%= @project.description %></td>
    </tr>

    <tr>
      <th>Expected deliverables</th>
      <td><%= @project.expected_deliverables %></td>
    </tr>

    <tr>
      <th>Prerequisites</th>
      <td><%= @project.prerequisites %></td>
    </tr>

    <tr>
      <th>Related work</th>
      <td><%= @project.formatted_related_work %></td>
    </tr>

    <!--
    <tr>
      <th>Application deadline</th>
      <td><%= @project.quarter.formatted_submission_deadline %></td>
    </tr>
    -->
  </tbody>
</table>
