<h1>Edit proposal for <%= @project.name %></h1>

<%= form_for(@project) do |f| %>

      <%= f.label :name %>
      <%= f.text_field :name %>

      <%= f.label :description %>
      <%= f.text_area :description %>

      <%= f.label :deadline %>
      <%= f.date_select :deadline %>

      <%= f.label :password_confirmation, "Password confirmation" %>
      <%= f.password_field :password_confirmation %>

      <%= f.submit "Edit my proposal", class: "btn btn-large btn-primary" %>

<% end %>

