<h3>Edit status of <%= @project.name %></h3>

<%= form_for(@project, url: { controller: "projects",
			      action: "update_status" } ) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>

  <%= f.label :status, "Approve", value: "accepted" %>
  <%= f.radio_button :status, "accepted" %>

  <%= f.label :status, "Request changes", value: "pending" %>
  <%= f.radio_button :status, "pending" %>

  <%= f.label :status, "Reject", value: "rejected" %>
  <%= f.radio_button :status, "rejected" %>

  <%= f.label :comments %>
  <%= f.text_area :comments %>

  <%= f.submit "Update project status", class: "btn btn-primary" %>

<% end %>
