<h3>Edit status of <%= @project.name %></h3>

<% if @project.has_submissions? %>
  <div class="alert alert-warning" role="alert">
    <strong>Note:</strong> Students have applied to this project. If you
    change this project's status, you may wish to tell these students
    that you have done so.
  </div>
<% end %>

<%= form_for(@project, url: { controller: "projects",
			      action: "update_status" } ) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>

  <%= f.label :status, "Approve", value: "accepted" %>
  <%= f.radio_button :status, "accepted" %>

  <%= f.label :status, "Request changes", value: "pending" %>
  <%= f.radio_button :status, "pending" %>

  <%= f.label :status, "Reject", value: "rejected" %>
  <%= f.radio_button :status, "rejected" %>

  <%= f.label :comments %>
  <%= f.text_area :comments %>

  <%= f.label :status_published, "Publish status?" %>
  <%= f.check_box :status_published, selected: @project_status_published %>

  <%= f.submit "Update project status", class: "btn btn-primary",
      data: { confirm: "Are you sure?" } %>

<% end %>
