<h2><%= formatted_quarter_by_params %> Projects</h2>

<% if @projects.present? %>
  <%= render 'student_submission_deadline' %>
<% end %>

<% if @future_quarters.present? %>
  <% @future_quarters.each do |q| %>
    <p>
      Practicum <%= formatted_quarter(q) %> will start accepting applications on
      <%= q.project_proposal_deadline.strftime("%A, %B %d, %Y") %>.
    </p>
  <% end %>
<% end %>

<% if @projects.present? %>
  <table class="table table-bordered">
    <tr>
      <th>Title</th>
      <th>Advisor</th>
    </tr>
    <tbody>
      <% @projects.each do |project| %>
	<tr>
	  <td><%= q_link_to project.name, project %></td>
	  <td><%= display_name(project.advisor) %></td>
	</tr>
      <% end %>
    </tbody>
  </table>

<% else %>
  The application period for the Practicum Program opens on Week 5 of the
  quarter. The list of projects will be published at that time.
<% end %>
