<h2><%= formatted_current_quarter %> Projects</h2>

<% if before_deadline?("student_submission") %>
  <div class="alert alert-info">
    <strong>Application deadline</strong>:
    <%= formatted_deadline("student_submission") %>
  </div>
<% else %>
  <div class="alert alert-warning">
    <strong>The application deadline for this quarter has passed</strong>.
    The deadline was <%= formatted_deadline("student_submission") %>.
  </div>
<% end %>

<% if @projects.present? %>
  <table class="table table-bordered">
    <tr>
      <th>Title</th>
      <th>Advisor</th>
    </tr>
    <tbody>
      <% @projects.each do |project| %>
	<tr>
	  <td><%= link_to project.name, project %></td>
	  <td><%= display_name(project.advisor) %></td>
	</tr>
      <% end %>
    </tbody>
  </table>

<% else %>
  There are currently no projects available.
<% end %>
