<h1><%= @project.name %></h1>
<div>
  Project advisor: <%= @project.advisor_email %>
</div>
<div>
  Project description: <%= @project.description %>
</div>
<div>
  Project deadline: <%= @project.deadline %>
</div>

<% if can? :create, Submission %>
  <% if @project.accepted? and !current_user.applied_to_project?(@project) %>
    <%= link_to "Click here to apply.", new_project_submission_path(@project.id) %>
    <% elsif !@project.accepted? and !current_user.applied_to_project?(@project) %>
    This project has not yet been approved.
  <% else %>
    You have already applied to participate in this project. Please wait 
    for the advisors to review your application. You will be notified by 
    e-mail when they have made their decision.
  <% end %>
<% end %>

<% if (can? :create, Project) and current_user.made_project?(@project) and !@project.accepted? %>
  <%= link_to "Click here to edit the project information.", edit_project_path  %>
<% end %>

<br>

<% if (can? :accept, Project) && !@project.accepted? %>
  <%= link_to "Click here to approve the project.", accept_project_path %>
<% end %>

<br>

<% if (can? :accept, Submission) %>
  <% if (@project.submissions.count > 0) %>
    <% @project.submissions.each do |submission| %>
      <div>
	<%= submission.student_email %> applied for this project. View 
	this student's application 
	<%= link_to "here", project_submission_path(@project.id, submission.id) %>.
      </div>
    <% end %>
  <% else %>
    No one has applied to this project yet.
  <% end %>
<% end %>
