<h1><%= @project.name %></h1>

<%= render 'project_long', object: @project%>

<% if (can? :apply_to, @project) and before_submission_deadline? %>
  Click <%= link_to "here", new_project_submission_path(@project.id) %>
  to apply.
<% else %>
  You may not apply to this project.
<% end %>

<% if can? :update, @project %>
  <div>
    Click <%= link_to "here", edit_project_path %>
    to edit this project's information.
  </div>
<% end %>

<% if can? :accept, @project %>
  <div>
    Click <%= link_to "here", edit_status_project_path %>
    to change this project's status or request changes to the proposal.
  </div>
<% end %>

<% if can? :read_submissions_of, @project %>
  <div>
    Click <%= link_to "here", project_submissions_path(@project.id) %> to view
    students' applications to this project.
  </div>
<% end %>

<% if can? :clone, @project %>
  <%= render 'project_clone', object: @project %>
<% end %>
