<%= f.select(:question_type,
	     options_for_select(['Text field', 'Text area',
				 'Check box', 'Check box (multiple choices)',
				 'Radio button'],
				'Text field')) %>
<%= f.text_area(:question_prompt,
		'data-parsley-required' => 'true') %>

<div id="multiple-button-group">
  <div id="multiple-option-group">
    <%= f.text_field 'multiple_btn_opts[1]',
    label: "Radio button option 1", # TODO: add a function here to determine
    # what text to display (radio button or checkbox (multi))
    'data-parsley-required' => 'true' %>
  </div>
  <%= f.form_group do %>
    <%= link_to "Add another option", '#',
    class: "btn btn-default", id: "add-option-button" %>
  <% end %>
</div>
