<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
      <%= link_to "Computer Science Practicum", root_path, id: "logo" %>
      <nav>
	<ul class="nav pull-right">
	  <% if !user_signed_in? %>
	    <li><%= link_to "Sign up", new_user_registration_path %></li>
	    <li><%= link_to "Sign in", new_user_session_path %></li>
	  <% else %>
	    <li>You are signed in as <%= current_user.email %>.</li>
	    <li><%= link_to "Sign out", destroy_user_session_path,
	    method: :delete %></li>
	  <% end %>

	  <% if can? :read, Submission %>
	    <li><%= link_to "My account", current_user %></li>
	  <% end %>

	  <% if can? :manage, User %>
	    <li><%= link_to "Users", users_path %></li>
	  <% end %>

	  <% if can? :read, Project %>
	    <li><%= link_to "Projects", projects_path %></li>
	  <% end %>

	  <% if can? :accept, Project %>
	    <li>
	      <%= link_to "Pending projects", pending_projects_path %>
	    </li>
	  <% end %>

	  <% if can? :manage, Submission %>
	    <li><%= link_to "Applications", submissions_path %></li>
	  <% end %>

	  <% if can? :create, Project %>
	    <li><%= link_to "Propose a project", new_project_path %></li>
	    <li><%= link_to "My projects", users_projects_path(current_user.id) %></li>
	  <% end %>

	  <% if can? :create, Quarter %>
	    <li><%= link_to "Manage quarters", quarters_path %></li>
	  <% end %>

	</ul>
      </nav>
    </div>
  </div>
</header>
