<%# Must be signed in to see this. %>
<%# The current quarter's information. %>
<li class="dropdown" id="dropdown-<%= quarter.year %>-<%= quarter.season %>">
  <a href="#" class="dropdown-toggle" data-toggle="dropdown">
    <%= formatted_quarter(quarter) %>
      <span class="caret"></span>
  </a>

  <ul class="dropdown-menu" role="menu">
    <%# Projects %>
    <li>
      <%= link_to "Projects",
          projects_path(year: quarter.year, season: quarter.season) %>
    </li>
    <% if (can? :view_my_submissions, User) or can? :view_my_projects, User %>
      <li class="divider"></li>
    <% end %>

    <%# Student's applications %>
    <% if can? :view_my_submissions, User %>
      <li>
	<%= link_to "My applications",
	    users_submissions_path(year: quarter.year,
				   season: quarter.season) %>
      </li>
    <% end %>

    <%# Advisor's projects %>
    <% if can? :view_my_projects, User %>
      <%= project_proposal_navbar_link(quarter) %>
      <li>
	<%= link_to "My projects",
	    users_projects_path(year: quarter.year, season: quarter.season) %>
      </li>
      <li>
	<%= link_to "My students",
	    users_students_path(year: quarter.year, season: quarter.season) %>
      </li>
    <% end %>

    <%# Administrative pages %>
    <% if can? :manage, :all %>
      <li class="divider"></li>
      <li><%= link_to "Pending projects",
              pending_projects_path(year: quarter.year,
				    season: quarter.season) %></li>
      <li><%= link_to "Applications",
      submissions_path(year: quarter.year, season: quarter.season) %></li>
      <li><%= link_to "Accepted students",
              accepted_submissions_path(year: quarter.year,
					season: quarter.season) %></li>
      <li><%= link_to "Evaluations",
      evaluations_path(year: quarter.year, season: quarter.season) %></li>
    <% end %>
  </ul>
</li>
