<!DOCTYPE html>
<html>
  <head>
    <title>Dccc</title>
    <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= javascript_include_tag :defaults %>

    <%= csrf_meta_tags %>
  </head>
  <body>

    <nav>
      <% if !user_signed_in? %>
	<div><%= link_to "Sign up", new_user_registration_path %></div>
	<div><%= link_to "Sign in", new_user_session_path %></div>
      <% else %>
	<div><%= link_to "Sign out", destroy_user_session_path,
	                             method: :delete %></div>
      <% end %>
      <% if can? :read, @users %>
	<div><%= link_to "User list", users_path %></div>
      <% end %>
      <% if can? :read, @projects %>
	<div><%= link_to "Project list", projects_path %></div>
      <% end %>
    </nav>

    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <%= yield %>

  </body>
</html>
